
# Python 3.8 or later is needed


###### copy paste below line to install dependencies
pip install numpy pillow matplotlib opencv-python
# Required Python packages:

Pillow
opencv-python
numpy
matplotlib
TKinterModernThemes 